#header{
  margin:0;
  background: rgb(38, 77, 90);
  height:100px;
  text-align: center;
  border: 1px solid black;
  color:gold;
}

#searchbox{
  margin-left:70px;
  margin-top:10px; 
  width:90%;
  padding:10px;
  border-radius: 20px;
  background: lightgray;
  border:1px solid black;
}

input[type=search]:focus{
  outline: 0;
}